.sliders {
  margin-top: 20px;
}

.label-sliders .label {
  font-size: 25px;
  font-weight: bold;
}


.newRecord {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newRecord-slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), #0d2530);
  min-width: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.slider {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.newRecord-title h1 {
  font-size: 40px;
}

.MuiSlider-colorSecondary {
  color: aqua;
}


.submit-button {
  margin-bottom: 20px;
}