.table {
  margin-top: 30px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), #0d2530);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), #0d2530);
}

.styled-table tbody tr:nth-of-type(even) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), #0d2530);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid white;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: white;
}